/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}


p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.profile p {
    font-size: 1.2em;
    margin-bottom: 2px;
}

.profile ul {
    font-size: 1.2em;
    margin-bottom: 2px;
}


ul {
    font-size: 1.2em;
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 10px; /* Adjust the value as needed for desired spacing */
}
/* Hero Section */
.hero {
    background: url('images/herobanner.png') no-repeat center center/cover;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero-title {
    font-size: 3em;
    margin-bottom: 2px;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-top:20px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #31C563;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none; /* Ensures there is no border */
    outline: none; /* Removes the outline */
}

.btn-primary:hover {
    background-color: #31C563;
    border: none; /* Ensures there is no border */
    outline: none; /* Removes the outline */
}


/* Offers */

#offers-bonuses .offer-card {
    background-color: #34166E;
    border-left: 5px solid #31C563;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#offers-bonuses .offer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.highlightoff {
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#offers-bonuses .offer-card {
    animation: fadeIn 1s ease-in;
}

/* About Section */
.about {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.about h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about ul {
    list-style-type: disc;
    padding-left: 40px;
}

/* Included */
.feature {
    position: relative;
    padding-left: 40px; /* Adjust this value to fit the tick symbol */
    margin-bottom: 20px; /* Adjust spacing between features */
  }
  
  .feature h3 {
    position: relative;
    margin-left: 40px; /* Make space for the tick symbol */
  }
  
  .feature h3::before {
    content: '\2713'; /* Unicode for tick symbol */
    color: white; /* Green color for the tick */
    position: absolute;
    left: -40px; /* Align with the padding-left of .feature */
    top: 50%; /* Vertically center the tick */
    transform: translateY(-50%); /* Adjust vertical alignment */
    background-color: green; /* Background color of the circle */
    border: 2px solid green; /* Border color */
    border-radius: 50%; /* Make it round */
    width: 30px; /* Width of the circle */
    height: 30px; /* Height of the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em; /* Match the size of the h3 font */
    font-weight: bold;
  }
  

/* Profile Section */
.prof-img {
    max-height: 300px; /* Adjust the max-height value as needed */
    width: auto; /* Maintain the aspect ratio */
    height: auto; /* Maintain the aspect ratio */
}
/* Testimonials Section */
.testimonials {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.testimonials .testimonial {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonials .testimonial:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.testimonials h2 {
    color: #333;
    font-weight: 700;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #34166E;
    border-radius: 50%;
}


/* Investment Section */

#investment .card {
    transition: transform 0.3s ease;
}

#investment .card:hover {
    transform: translateY(-5px);
}

#investment .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#investment .card-text {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}


/* Sign Up Section */
.signup {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.signup h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}


/* FAQ Section */
.faq h2 {
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
}

.accordion-button {
    background-color: #34166E;
    color: #ffffff;
    font-weight: bold;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #34166E;
}

.accordion-body {
    font-size: 1em;
    color: black;
}

/* Video Section */
.video-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 75vh; /* Set height to 50% of viewport height */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    width: auto;
    min-width: 100%; /* Ensures the iframe covers the container width */
    min-height: 100%; /* Ensures the iframe covers the container height */
}