/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banners.css");
@import url("components/cards.css");
@import url("components/buttons.css");
@import url("components/images.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

h7 {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: lighter;
}

h8 {
  font-family: Open Sans;
  font-size: 10px;
  font-weight: lighter;
}
/* Existing CSS for smaller screens */
h4 {
  font-size: 1em; /* or whatever your current font size is */
}

/* Media Query for larger screens */
@media (min-width: 1200px) { /* Adjust the min-width value as needed */
  h4 {
    font-size: 3em; /* Increase the font size for larger screens */
  }
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}


.outlined-text {
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 10px;
}

.footer {
  background: #002C48;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(255, 255, 255, 0.959);
}
.footer-links {
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.text-center {
  text-align: center;
}

#navbarNavAltMarkup {
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
}

.bg-nav {
  background-color: #ffffff;
}

.bg-section {
  background: #F6F6F6; 
}

.bg-white {
  background: white; 
}


.bg-berry {
  background-image:linear-gradient(to right, #0f0c29, #302b63, #24243e); 
}

.btn-contact {
  background-color: #6c5ce7; /* Purple */
  color: #ffffff; /* White */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.btn-contact:hover {
  background-color: #4834d4; /* Darker Purple */
  color: #ffffff; /* White */
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

.btn-berry {
  background-color: #B5411A;
  border-color: #B5411A;
}
.font-color-purple {
  color: #002C48;
}

.font-color-yellow {
  color: #AD000C;
}
.font-color-forest {
  color: #534f4f;
}

.btn-outline:hover {
  color: black;
}

tr:nth-child(odd) {
  border-color: #002C48;
  }

 tr:nth-child(even) {
  border-color: #D9D9D9;
  }

  th {
     background-color: lightseagreen;
  }

  .img-fl {
    z-index: 2;
    opacity: 1;
    width:30%;
    vertical-align: middle;
  }

  .banner {
    width: 100vw; /* Set the width to 100% of the viewport width */
    height: auto; /* Adjust the height to auto */
    padding: 60px 0; /* Add padding to the top and bottom of the banner */
    background-size: cover; /* Ensure the background image covers the entire banner */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    text-align: center; /* Align text to the left */
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    margin-left: calc(-50vw + 50%); /* Center the banner by adjusting the margin */
  }
  
  .container.text-center {
    text-align: left !important; /* Override Bootstrap's text-center alignment */
  }


.opacity {
  opacity: 0.85;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* Social Media Bar */
.social-media-icons {
  background-color: black;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.fa-icon {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 24px;
}

/* Navbar */
#navbar {
  background-color: white;
  padding: 15px;
  position: fixed;
  top: 40px; /* Adjusted for the social media bar */
  width: 100%;
  z-index: 999;
}

.logo {
  max-width: 100px;
  height: auto;
}

/* Main Content */
#main-content {
  margin-top: 100px; /* Adjusted for the navbar and social media bar */
}

/* Footer */
#footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#sitemap, #contact-details, #footer-social-media {
  width: 30%;
}
