.banner {
    background-size:cover;
    background-position:center;
    padding: 10%;
    position:relative;
    display: flex;
    justify-content: center;
}

.banner h1 {
    color: white;
    text-align: center;
}

.banner p {
    color: white;
    font-size: 20px;
}

.banner-container {
    margin: 0 auto;
}