.btn-dribbble {
    background-color: rgba(240, 130, 172, 1);
    border-radius: 8px;
    color: white;
    margin: 5px;
    padding: 16px 24px;
    font-weight: bold;
    display: inline-block;
}

.btn-dribbble:hover {
    background-color: rgba(240, 130, 172, 0.8);
}

.btn-contact {
    background-color: #450969;
    border-radius: 8px;
    color: white;
    margin: 5px;
    padding: 4px 6px;
    font-weight: bold;
    display: inline-block;
}